@model Product

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12" style="padding-left:18rem;">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Create Product Table</h6>
                </div>
                <div class="card-body px-2 pt-2 pb-2">

                    <form method="post">
                        <label>Product Name</label>
                        <input type="text" asp-for="ProductName" class="form-control" />
                        <br />
                        <label>Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categories" ></select>
                        <br />
                        <label>Stock</label>
                        <input type="number" asp-for="Stock" class="form-control" />
                        <br />
                        <label>Price</label>
                        <input type="text" asp-for="Price" class="form-control" />
                        <br />
                        <label>ImageUrl</label>
                        <input type="text" asp-for="ImageUrl" class="form-control" />
                        <br />
                        <label>Description</label>
                        <input type="text" asp-for="Description" class="form-control" />
                        <br />
                        <button class="btn btn-primary">Create Product</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


