
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("_HeadLayoutComponentPartial")

<body class="g-sidenav-show  bg-gray-100">

    @await Component.InvokeAsync("_SidebarLayoutComponentPartial")

    @await Component.InvokeAsync("_MainPanelLayoutComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterLayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptsLayoutComponentPartial")

</body>

</html>
