
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Component.InvokeAsync("_HeadLayoutComponentPartial")

<body class="g-sidenav-show  bg-gray-100">

    @await Component.InvokeAsync("_SidebarLayoutComponentPartial")

    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">

    @await Component.InvokeAsync("_MainPanelLayoutComponentPartial")

    </main>

    @RenderBody()

    @await Component.InvokeAsync("_FooterLayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptsLayoutComponentPartial")

</body>

</html>
